@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html, body { height: 100%; }

body {
  background: #FCF7F5;
  color: #1c1f1d;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}
